@media (max-width: 878px) {
    .wrapper {
        width: 572px;
    }

    .centered {
        width: 480px;
    }

    .jcarousel__item {
        width  : 430px;
        padding: 0 25px;
    }

    .contacts {
        flex-direction: column;
    }
}
@media (max-width: 570px) {
    .wrapper {
        width: 320px;
    }

    .centered {
        width: 310px;
    }

    .jcarousel__item {
        width  : 280px;
        padding: 0 15px;
    }

    .flyout__controls {
        display: none;
    }

    .flyout__head {
        padding       : 2px 7px;
        letter-spacing: -0.04em;
    }

    .skills {
        padding-left: 10px;
        width       : 200px;
    }

    .jcarousel-nav {
        top: 100px;
    }

    .jcarousel-prev {
        left: 0;
    }

    .jcarousel-next {
        right: 0;
    }

    .resume-language {
        top: 101px;
    }

    .resume-language_left {
        left: 12px;
    }

    .resume-language_right {
        right: 12px;
    }
}
