@import 'reset';
@font-face {
    font-family: 'Ubuntu Regular';
    src        : url('../fonts/ubuntu-r-webfont.eot');
    src        : url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ubuntu-r-webfont.woff2') format('woff2'), url('../fonts/ubuntu-r-webfont.woff') format('woff'), url('../fonts/ubuntu-r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
}

.u_r {
    font-family: 'Ubuntu Regular';
}
/* WRAPPER */
.wrapper {
    margin: 0 auto;
    width: 860px;
}
.centered {
    width         : 768px;
    margin        : 0 auto;
    padding-bottom: 10px;
    position      : relative;
    box-shadow    : 0 0 10px rgba(0,0,0,0.5);
}
/*slider*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel__list {
    width     : 20000em;
    position  : relative;
    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin    : 0;
    padding   : 0;
}

.jcarousel__item {
    /* Required only for block elements like <li>'s */
    width  : 688px;
    padding: 0 40px;
    float  : left;
}

.header {
    font-weight: bold;
    font-size  : 20px;
    margin     : 10px 0 5px;
    text-align : center;
}

.contacts {
    margin    : 0 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.contacts__mob {
    color          : #248cec;
    text-decoration: none;
}

.contacts__mail {
    color          : #248cec;
    text-decoration: none;
}

.logo {
    text-align   : center;
    margin-bottom: 20px;
}

.logo__img {
    width          : 40px;
    height         : 40px;
    line-height    : 40px;
    display        : inline-block;
    background     : #248cec;
    border-radius  : 5px;
    color          : white;
    text-decoration: none;
    font-weight    : bold;
    font-size      : 22px;
}

.logo-linkedin {
    background-position: 20px 0;
}

.logo-git:hover {
    background-position: 0 20px;
}

.logo-linkedin:hover {
    background-position: 20px 20px;
}
/*flyout*/
.flyout {
    position: relative;
}

.flyout__head {
    padding      : 2px 15px 2px 12px;
    display      : inline;
    line-height  : 28px;
    border-radius: 10px 0 10px 0;
    font-size    : 18px;
    cursor       : pointer;
    color        : white;
    background   : #248cec;
}

.flyout_hide {
    display: none;
}

.flyout__controls {
    padding      : 2px 15px;
    position     : absolute;
    line-height  : 21px;
    border-radius: 10px;
}

.show-all {
    right: 100px;
}

.hide-all {
    right: 0;
}

.flyout__text {
    margin  : 0 0 18px 20px;
    position: relative;
    display : block;
}

.flyout__text::before {
    position  : absolute;
    background: linear-gradient(to top, rgba(36, 140, 236, 0.05) 0%, #248cec 100%);
    content   : "";
    display   : block;
    height    : 101%;
    width     : 3px;
    left      : -20px;
    top       : -2px;
}

.skills {
    list-style  : circle;
    padding-left: 20px;
    width       : 400px;
}

.skills__item:hover {
    transform-origin: -15px 10px;
    transform       : scale(1.2);
}
/*slider navigation*/
.jcarousel-nav {
    width           : 30px;
    height          : 55px;
    margin-top      : -15px;
    display         : block;
    position        : absolute;
    top             : 50%;
    background-image: url("../img/arrows_sprite.png");
}

.jcarousel-prev {
    left: -40px;
}

.jcarousel-next {
    right              : -40px;
    background-position: -45px 0;
}

.resume-language {
    height    : 12px;
    margin-top: 6px;
    position  : absolute;
    top       : 50%;
    font-size : 12px;
    opacity   : 0;
}

.resume-language_left {
    left   : -25px;
    opacity: 1;
}

.resume-language_right {
    right  : -25px;
    opacity: 1;
}

@import 'media';
