@media screen and (min-width: 785px) {
    .centered {
        margin: 0 auto;
        width : 768px;
    }
    /* WRAPER 1 */
    .wrapper1 {
        width : 768px;
        height: 700px;
    }

    .title-block {
        height: 700px;
    }

    .title__list {
        display        : flex;
        flex-direction : row-reverse;
        justify-content: space-between;
    }

    .title {
        margin    : 48px 0 0 48px;
        text-align: left;
    }

    .login {
        margin: 18px 49px 0 0;
    }

    .title__text1 {
        width      : 65%; //500px;
        margin     : 138px auto 0;
        font-size  : 52px;
        line-height: 64px;
    }

    .title__text2 {
        width    : 65%; //500px;
        margin   : 26px auto 37px;
        font-size: 24px;
    }

    .title__find {
        width: 29.427%; //226px;
    }
    /* WRAPPER 2 */
    .steps__h2 {
        padding: 97px 0 35px;
    }

    .steps {
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
    }

    .steps__item {
        width : 30.73%; //236px;
        height: 400px;
    }

    .steps__title {
        top: 213px;
    }

    .steps__title_moved {
        top: 260px;
    }

    .steps__image {
        width : 300px;
        margin: 0 0 0 -32px;
    }

    .steps-jcarousel__item {
        width : 236px;
        height: 400px;
    }

    .steps__text {
        padding: 234px 19px 0;
    }

    .steps__text_moved {
        padding-top: 280px;
    }

    .steps__article {
        letter-spacing: 0;
        line-height   : 17px;
    }

    .steps__article_moved {
        letter-spacing: 0.016em;
    }

    .steps-jcarousel-nav {
        width           : 30px;
        height          : 56px;
        top             : 40px;
        display         : block;
        position        : absolute;
        background-image: url("../img/steps-arrows_sprite.png");
        z-index         : 1;
    }

    .steps-jcarousel-prev {
        left: 20px;
    }

    .steps-jcarousel-next {
        right              : 20px;
        background-position: 30px 0;
    }

    .steps-jcarousel-prev_moved {
        left: 10px;
    }

    .steps-jcarousel-next_moved {
        right: 10px;
    }
    /* WRAPPER 3 */
    .partner__h2 {
        width  : 52%; //400px;
        padding: 88px 0 0;
    }

    .partner__list {
        height        : 564px;
        margin        : 0 auto;
        width         : 476px;
        display       : flex;
        flex-wrap     : wrap;
        flex-direction: column;
        align-content : space-between;
    }

    .partner__item {
        width     : 62%; //220px;
        margin    : 31px auto 26px;
        text-align: center;
    }

    .partner__button {
        width: 25%; //192px;
    }
    /* WRAPPER 4 */
    .ideas__list {
        margin: 0 1.3%; //10px;
    }

    .grid-sizer,
    .ideas__item {
        width     : 31.5%;
        height    : 310px;
        margin    : 0 0 20px;
        text-align: center;
    }

    .ideas__item--width2 {
        width: 65.75%;
    }

    .gutter-sizer {
        width: 2.75%;
    }

    .ideas__header {
        line-height: 310px;
    }

    .ideas__text1 {
        padding-top: 77px;
    }

    .search-partners {
        width          : 53.385%; //410px;
        margin         : 0 auto;
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
    }

    .ideas__input {
        width : 218px;
        margin: 38px 0 0;
    }

    .partners__find {
        width : 160px;
        margin: 38px 0 0;
    }

    .ideas__no-found {
        margin: 2px 0 0 39.0625%; //300px;
    }
    /* WRAPPER 5 */
    .footer__redline {
        width      : 768px;
        padding-top: 98px;
        margin     : 0 auto 38px;
    }

    .footer__text1 {
        width     : 178px;
        text-align: left;
    }

    .footer__list {
        width          : 690px;
        margin         : 0 auto;
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        text-align     : left;
    }

    .company__list {
        display       : flex;
        flex-direction: column;
        width         : 124px;
    }

    .company__link {
        margin-top: 11px;
        display   : block;
    }

    .footer__text3 {
        width: 135px;
    }

    .footer__text4 {
        margin-bottom: 6px;
        text-align   : right;
    }

    .designed__img {
        left: -5px;
    }
}
@media screen and (min-width: 957px) {
    .centered {
        margin: 0 auto;
        width : 940px;
    }
    /* WRAPPER 1 */
    .wrapper1 {
        width: 100%;
    }

    .title {
        margin: 48px 0 0;
    }

    .title__list {
        width: 940px;
    }

    .title__item {
        display       : flex;
        flex-direction: row;
    }

    .login {
        margin: 0;
    }

    .login__link {
        margin-top: 19px;
    }

    .title__text1 {
        width: 55%;
    }

    .title__find {
        width: 14.0625rem;
    }
    /* WRAPPER 2 */
    .steps__item {
        width : 31.915%; //300px
        margin: 0;
    }

    .steps__title {
        top: 231px;
    }

    .steps__title_moved {
        top: 261px;
    }

    .steps-jcarousel__item {
        width: 300px;
    }

    .steps__text {
        padding-top: 251px;
    }

    .steps__text_moved {
        padding-top: 282px;
    }

    .steps__header {
        letter-spacing: -0.006em;
    }

    .steps__article {
        height        : 47px;
        overflow      : hidden;
        letter-spacing: 0.01em;
    }

    .steps__article_moved {
        line-height   : 16px;
        letter-spacing: 0.018em;
    }

    .steps__image {
        margin: 0;
    }

    .steps-jcarousel-nav {
        top: 153px;
    }

    .steps-jcarousel-prev_moved {
        left: 20px;
    }

    .steps-jcarousel-next_moved {
        right: 20px;
    }
    /* WRAPER 3 */
    .partner__h2 {
        padding: 98px 0 0;
    }

    .partner__list {
        width          : 100%;
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        flex-wrap      : nowrap;
        height         : 305px;
    }

    .partner__item {
        width : 23.5%;
        margin: 31px 0 0;
    }

    .partner__list li:nth-child(1) {
        order: 1;
    }

    .partner__list li:nth-child(2) {
        order: 3;
    }

    .partner__list li:nth-child(3) {
        order: 2;
    }

    .partner__list li:nth-child(4) {
        order: 4;
    }

    .partner__text2 {
        height  : 67px;
        overflow: hidden;
    }

    .partner__button {
        width: 12rem;
    }
    /* WRAPPER 4 */
    .ideas__list {
        margin: 0;
    }

    .grid-sizer,
    .ideas__item {
        width: 32%;
    }

    .ideas__item--width2 {
        width: 66%;
    }

    .gutter-sizer {
        width: 2%;
    }

    .search-partners {
        width: 43.617%; //410px;
    }

    .partners__find {
        width : 10rem; //160px;
        margin: 40px 0 0;
    }

    .ideas__input {
        margin: 40px 0 0;
    }

    .ideas__no-found {
        margin: 2px 0 0 40.957%; //385px;
    }
    /* WRAPPER 5 */
    .footer__redline {
        width      : 100%;
        padding-top: 100px;
    }

    .footer__list {
        width: 940px;
    }

    .footer__text1 {
        width: auto;
    }

    .company__list {
        width: auto;
    }

    .footer__text3 {
        width: 336px;
    }

    .designed__img {
        left: -3px;
    }
}
