@import 'reset';

.centered {
    margin: 0 auto;
    width : 320px;
}

.dots {
    // ... in big scale
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.r {
    font-family: 'Roboto', sans-serif;
}

.m {
    font-family: 'Montserrat', sans-serif;
}
/* WRAPPER 1 */
.wrapper1 {
    height             : 540px;
    width              : 320px;
    background: grey;
    background-image   : url("../img/Landing_Desktop.jpg");
    margin             : 0 auto;
    background-repeat  : no-repeat;
    background-position: top;
    background-size    : cover;
}

.login {
    display        : flex;
    flex-direction : row;
    justify-content: center;
}

.login__item {
    margin-top: 20px;
}

.login__link {
    color          : white;
    font-size      : 14px;
    box-sizing     : border-box;
    display        : block;
    font-weight    : bold;
    text-decoration: none;
    height         : 36px;
    line-height    : 32px;
    border-radius  : 18px;
    text-align     : center;
}

.login__link_non-circled {
    padding: 0 16px;
    border : 2px solid transparent;
}

.login__link_non-circled:hover {
    color: #ff4e50;
}

.login__link_circled {
    padding: 0 17px;
    border : 2px solid white;
}

.login__link_circled:hover {
    color : #ff4e50;
    border: 2px solid #ff4e50;
}

.title {
    margin-top    : 115px;
    text-align    : center;
    color         : white;
    font-size     : 20px;
    font-weight   : bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.title__text1 {
    margin-top    : 32px;
    line-height   : 36px;
    text-align    : center;
    color         : white;
    font-size     : 30px;
    font-weight   : bold;
    text-transform: uppercase;
}

.title__text2 {
    margin        : 10px 9.375% 15px; //20px
    line-height   : 21px;
    text-align    : center;
    color         : white;
    font-size     : 18px;
    letter-spacing: 0.01em;
}

.title__find {
    width           : 87.5%; //280px
    height          : 40px;
    margin          : 0 auto;
    display         : block;
    line-height     : 40px;
    background-color: #ff4e50;
    border-radius   : 20px;
    text-align      : center;
    text-decoration : none;
    color           : white;
    font-size       : 14px;
    font-weight     : bold;
}

.title__find:hover {
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}
/* WRAPPER 2 */
.steps__h2 {
    margin        : 0 auto;
    padding       : 37px 0 16px;
    color         : #333;
    font-size     : 22px;
    font-weight   : bold;
    text-align    : center;
    letter-spacing: -0.01em;
}

.steps {
    margin: 0 auto;
}

.steps__item {
    width   : 93.75%; //300px
    height  : 240px;
    margin  : 0 auto 10px;
    position: relative;
    color   : white;
}

.steps__title {
    padding         : 5px 3.666%; //11px
    display         : block;
    position        : absolute;
    border-radius   : 10px;
    background-color: #ff4e50;
    text-transform  : uppercase;
    text-align      : center;
    font-size       : 10px;
    letter-spacing  : 0.2em;
    text-decoration : none;
    color           : white;
    z-index         : 2;
    top             : 70px;
    left            : 20px;
}

.steps__title_moved {
    top: 100px;
}

.steps__title:hover {
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

.steps__image {
    width     : 100%; //300px
    height    : auto;
    margin-top: -70px;
}

.steps-jcarousel {
    position     : relative;
    overflow     : hidden;
    border-radius: 4px;
}

.steps-jcarousel__list {
    width   : 20000em;
    position: relative;
}

.steps-jcarousel__item {
    width        : 300px;
    height       : 240px;
    overflow     : hidden;
    float        : left;
    border-radius: 4px;
    position     : relative;
    background: grey;
}

.steps__text {
    padding : 91px 20px 0;
    position: absolute;
    z-index : 1;
}

.steps__text_moved {
    padding-top: 120px;
}

.steps__header {
    padding       : 13px 0;
    font-size     : 24px;
    font-weight   : bold;
    line-height   : 29px;
    letter-spacing: -0.01em;
}

.steps__article {
    color         : #ccc;
    font-size     : 14px;
    line-height   : 16px;
    letter-spacing: 0.01em;
}

.steps__article_moved {
    letter-spacing: 0.016em;
}

.steps-jcarousel-nav {
    display: none;
}
/* WRAPPER 3 */

.partner__h2 {
    padding    : 25px 3.125% 14px; //10px
    margin     : 0 auto;
    line-height: 26px;
}

.partner__list {
    margin: 0 auto;
}

.partner__item {
    width     : 68.75%; //220px
    margin    : 0 auto 28px;
    text-align: center;
}

.partner__text1 {
    margin     : 16px 0;
    font-weight: bold;
    color      : #333;
    font-size  : 14px;
}

.partner__text2 {
    letter-spacing: -0.04em;
}

.partner__button {
    width           : 87.5%; //280px
    height          : 40px;
    outline         : none;
    display         : block;
    margin          : -2px auto;
    text-align      : center;
    background-color: white;
    border          : 2px solid #ff4e50;
    border-radius   : 20px;
    color           : #ff4e50;
    font-weight     : bold;
    font-size       : 14px;
}

.partner__button:active {
    color : black;
    border: 2px solid black;
}
/* WRAPPER 4 */
.ideas__h2 {
    padding    : 37px 0 15px;
    line-height: 25px;
}

.grid-sizer,
.ideas__item {
    text-align   : center;
    width        : 93.75%; //300px
    height       : 121px;
    border-radius: 4px;
    margin       : 0 3.125% 9px;
    overflow     : hidden;
    position     : relative;
    text-align   : center;
}

.gutter-sizer {
    width: 0;
}

.img-align {
    width          : 100%;
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.ideas__overlay {
    position  : absolute;
    width     : 100%;
    height    : 100%;
    background: black;
    opacity   : 0.3;
    z-index   : 2;
}

.ideas__header {
    width         : 100%;
    padding       : 0 20px;
    position      : absolute;
    box-sizing    : border-box;
    line-height   : 121px;
    color         : white;
    font-weight   : bold;
    font-size     : 22px;
    z-index       : 3;
    text-align    : center;
    white-space   : nowrap;
    overflow      : hidden;
    text-overflow : ellipsis;
    text-transform: capitalize;
}

.ideas__text1 {
    line-height: 25px;
    padding    : 28px 0 15px;
}

.ideas__text2 {
    text-align    : center;
    font-size     : 18px;
    letter-spacing: 0.01em;
}

.ideas__input {
    width         : 78.75%; //252px
    height        : 38px;
    padding       : 0 4%; //13px
    margin        : 16px auto 10px;
    display       : block;
    border        : 1px solid #ccc;
    border-radius : 4px;
    box-shadow    : 0 1px 0 #eee;
    font-size     : 14px;
    letter-spacing: 0.01em;
    outline       : none;
    position      : relative;
}

.ideas__no-found {
    width        : 40.625%; //130px;
    height       : 25px;
    margin       : -20px 0 0 43.75%; //140px;
    line-height  : 25px;
    position     : absolute;
    background   : rgba(0, 0, 0, 0.6);
    color        : white;
    font-size    : 14px;
    border-radius: 12px;
    text-align   : center;
    z-index      : 1;
    display      : none;
}

.ideas__no-found:after {
    content   : "";
    position  : absolute;
    left      : 25px;
    top       : 25px;
    border    : 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.6);
}

.partners__find:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
/* WRAPPER 5 */
.wrapper5 {
    text-align: center;
}

.footer__text1 {
    text-transform: uppercase;
    color         : #ff4e50;
    font-size     : 16px;
    font-weight   : bold;
    letter-spacing: 0.05em;
    margin-bottom : 14px;
}

.footer__redline {
    width        : 320px;
    padding-top  : 40px;
    margin       : 0 auto 18px;
    display      : block;
    box-sizing   : border-box;
    border-bottom: 4px solid #ff4e50;
}

.company__list {
    width          : 60.9375%; //195px;
    margin         : 0 auto 15px;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
}

.footer__text2 {
    font-weight  : bold;
    color        : #333;
    font-size    : 14px;
    margin-bottom: 5px;
}

.company__link {
    color          : #666;
    text-decoration: none;
    font-size      : 14px;
}

.company__link:hover {
    color: #ff4e50;
}

.footer__text3 {
    font-weight  : bold;
    color        : #333;
    font-size    : 14px;
    margin-bottom: 18px;
}

.footer__text4 {
    color         : #ccc;
    font-size     : 10px;
    font-weight   : bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom : 4px;
    // text-align: right;
}

// .designed {
//     width       : 34.0625%; //109px;
//     margin      : 0 auto;
//     text-align  : left;
//     box-sizing  : border-box;
//     padding-left: 34px;
//     position    : relative;
// }

.designed__text1 {
  padding-left: 31px;
    text-transform: uppercase;
    color         : #ff4e50;
    font-size     : 20px;
    font-weight   : bold;
    letter-spacing: 0.05em;
    // text-align: right;
}

.designed__text2 {
    padding-left: 31px;
    text-transform: uppercase;
    color         : #ff4e50;
    font-size     : 8px;
    font-weight   : bold;
    letter-spacing: 0.15em;
    // text-align: right;
    position: relative;
}

.designed__img {
    position: absolute;
    display : block;
    width   : 25px;
    height  : 24px;

    top: -17px;
    left: 104px;
    // left: -29px;
}
@import 'mediaQueries';
